<section class="nouveautes">
        <div class="rotator">
        <div class="rotator__content">
            <div class="rotator__slide">
                <img src="{{asset('demo/slide1.png')}}" alt="">
                <div class="callout callout--primary">
                    <div class="callout__teaser">
                        <div class="heading heading--primary">
                            Vidéosurveillance
                        </div>
                        <div class="heading heading--secondary">
                            Vente et Installation des dispositifs de vidéosurveillance
                        </div>
                    </div>
                    <div class="callout__action">
                        <a href="#" class="button button--default button--medium">Voir le catalogue <span class="fa fa-arrow-circle-right fa-lg"></span></a>
                    </div>
                </div>
            </div>
             <div class="rotator__slide">
                <img src="{{asset('demo/slide2.png')}}" alt="">
                <div class="callout callout--primary">
                    <div class="callout__teaser">
                        <div class="heading heading--primary">
                            Matériel Informatique
                        </div>
                        <div class="heading heading--secondary">
                            Vente et Réparation des ordinateurs, imprimantes, etc.
                        </div>
                    </div>
                    <div class="callout__action">
                        <a class="button button--default button--medium" href="#">Voir le catalogue <span class="fa fa-arrow-circle-right fa-lg"></span></a>
                    </div>
                </div>
            </div>
             <div class="rotator__slide">
                <img src="{{asset('demo/slide3.png')}}" alt="">
                <div class="callout callout--primary">
                    <div class="callout__teaser">
                        <div class="heading heading--primary">
                            Réseaux Informatiques
                        </div>
                        <div class="heading heading--secondary">
                            Etude et Installation des réseaux informatiques permettant une communication fiable et efficace au sein de votre entreprise.
                        </div>
                    </div>
                    <div class="callout__action">
                        <a href="#" class="button button--default button--medium">Plus de détails <span class="fa fa-arrow-circle-right fa-lg"></span></a>
                    </div>
                </div>
            </div>
             <div class="rotator__slide">
                <img src="{{asset('demo/slide4.png')}}" alt="">
                <div class="callout callout--primary">
                    <div class="callout__teaser">
                        <div class="heading heading--primary">
                            Sécurité Informatique
                        </div>
                        <div class="heading heading--secondary">
                            Mise en place des mécanismes garantissant la fiabilité et la sécurité de votre infrastructure informatique.
                        </div>
                    </div>
                    <div class="callout__action">
                        <a class="button button--default button--medium" href="#">Plus de détails <span class="fa fa-arrow-circle-right fa-lg"></span></a>
                    </div>
                </div>
            </div>
             <div class="rotator__slide">
                <img src="{{asset('demo/slide5.png')}}" alt="">
                 <div class="callout callout--primary">
                    <div class="callout__teaser">
                        <div class="heading heading--primary">
                            Support et Maintenance
                        </div>
                        <div class="heading heading--secondary">Notre équipe est disponible pour vous garantir le meilleur support possible.
                        </div>
                    </div>
                    <div class="callout__action">
                        <a href="#" class="button button--default button--medium">Nous contacter <span class="fa fa-arrow-circle-right fa-lg"></span></a>
                    </div>
                </div>
            </div>
            
        </div>   
        <div class="rotator__navigation">
            
        </div>
        <div class="rotator__previous">
            
        </div>
        <div class="rotator__next">
            
        </div>         
        </div>
    </section>